body {
    font-family: Roboto, sans-serif;
    line-height: 1.6;
    max-width: 80%;
    margin: 40px auto;
    padding: 0 20px;
    background-color: #f8f9fa;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    color: #2c3e50;
    background-color: #f8f9fa;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 3px;
    padding-left: 10px;
    margin-top: 30px;
}

a {
/*    color: #007bff;*/
    font-weight: bold;
    color: #2c3e50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    margin: 15px 0;
}

ul, ol {
    margin: 15px 0;
    padding-left: 40px;
}

li {
    margin-bottom: 10px;
    padding-left: 0;
    line-height: 1.4;
}

pre {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}

code {
    font-family: Source Code Pro, sans-serif;
    background-color: #e0ebeb;
    padding: 2px 5px;
    border-radius: 4px;
    font-size: 1em;
    color: #0066ff;
}

blockquote {
    border-left: 5px solid #dfe2e5;
    padding: 10px 20px;
    margin: 15px 0;
    background-color: #f9f9f9;
    color: #555;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

iframe {
    width: 100%;
    height: 1300px;
    border: none;
    display: block
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px; /* Space between panels */
    padding: 20px;
    max-width: 100px;
    margin: 0 10% 0 10%;
}

.panel {
    background-color: #f8f9fa;
    padding: 20px;
    border: 2px solid #DCDCDC;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a slight shadow */
    border-radius: 8px; /* Rounded corners */
}

.about {
    grid-column: 1;
    text-align: center;
    font-size: 1.5em;
}

.cv {
    grid-column: 2;
    text-align: center;
    font-size: 1.5em;
}

.teaching {
    grid-column: 3;
    text-align: center;
    font-size: 1.5em;
}

.skip {
    grid-column: 4;
    text-align: center;
    font-size: 1.5em;
}

.packages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px; /* Space between panels */
    padding: 20px;
    max-width: 100%;
    margin: 0 20px 0 20px;
}

.first {
    grid-column: 1;
    text-align: center;
    font-size: 1.5em;
}

.second {
    grid-column: 2;
    text-align: center;
    font-size: 1.5em;
}

.third {
    grid-column: 3;
    text-align: center;
    font-size: 1.5em;
}

.fourth {
    grid-column: 4;
    text-align: center;
    font-size: 1.5em;
}

.contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; /* Space between panels */
    padding: 20px;
    max-width: 100%;
    margin: 0 10% 0 10%;
}

.address {
    grid-column: 1;
    text-align: left;
    font-size: 1em;
}

.email {
    font-family: Mono, sans-serif;
    grid-column: 2;
    text-align: right;
    font-size: 1em;
}


/* Responsive adjustments */
@media (max-width: 992px) {
    .container {
        grid-template-columns: 1fr; /* Stack panels in a single column */
    }
    .panel {
        grid-column: span 1; /* Each panel takes full width */
    }
}

.full-width-panel {
    width: 100%;  /* Span the full width */
    background-color: #f8f9fa;  /* Light grey background for the panel */
    padding: 20px;  /* Add some padding inside the panel */
    box-sizing: border-box;  /* Include padding in the width calculation */
    border-bottom: 1px solid #ddd;  /* Optional border for separation */
}

.reference-container {
    padding: 15px;  /* Padding inside the container */
    border-radius: 15px;  /* Slightly rounded corners */
    max-width: 90%;  /* Max width for better readability */
    margin: 10px;
}

.reference {
  font-family: Roboto, sans-serif;  /* Serif font for academic feel */
  font-size: 16px;                                   /* Slightly larger font for readability */
  margin-bottom: 1em;                                 /* Spacing between references */
  line-height: 1.5;                                   /* Improved line height */
  color: #333;                                        /* Dark grey color for text */
}

.reference .author {
}

.reference .title {
  font-style: italic;                                 /* Italicize title for differentiation */
}

.reference .journal {
  font-weight: bold;                                  /* Bold journal name */
}

.reference .volume {
  color: #555;                                        /* Dimmed color for less emphasis */
}

.reference .year {
  color: #777;                                        /* Even dimmer color for year */
}

.reference .pages {
  font-size: 0.9em;                                   /* Smaller font size for pages */
  color: #666;                                        /* Dimmed color */
}

.reference .doi {
    font-size: 1em;
    color:#00509e;
}

.package-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.package-description {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
  line-height: 1.5;
}

.download-link,
.github-link {
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}

.download-button {
  background-color: #3498db;
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.download-button:hover {
  background-color: #2980b9;
}

/* GitHub button */
.github-button {
  background-color: #24292e;
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.github-button:hover {
  background-color: #333;
}

/* index */
.index-section {
  margin-bottom: 20px; /* Space between index and iframe */
  padding: 10px;
  background-color: #f9f9f9;
  border: 0px solid #ddd;
  border-radius: 5px;
}

.index-section h3 {
  margin-top: 0;
}

.index-section ul {
  list-style-type: none; /* Remove default list styling */
  padding: 0;
}

.index-section li {
  margin-bottom: 5px; /* Space between index items */
  text-align: left;
  font-size: 16pt;
}

.index-section a {
  text-decoration: none;
  color: #3498db; /* Link color */
}

.index-section a:hover {
  text-decoration: underline; /* Underline on hover */
}