header h1 {
  padding: 100px;
  text-align: center;
  /* background: hsl(120, 40%, 50%); */
  background-image: url(banner.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 800px;
  color: white;
  text-shadow: 0px 0px 2px hsl(120, 40%, 50%), 0px 0px 2px hsl(120, 40%, 50%), 0px 0px 2px hsl(120, 40%, 50%);
  font-size: 35px;
  font-family: Roboto;
  text-transform: uppercase;
}

header h2 {
  padding: 5px;
  text-align: left;
  /* background: hsl(120, 100%, 80%); */
  opacity: 1;
  color: hsl(120, 40%, 50%);
  font-size: 30px;
  font-family: Roboto;
}

body {
  font-size: 20px;
  font-family: Roboto;
  color: hsl(120, 0%, 20%);
}

.email {
  font-size: 20px;
  font-family: monospace;
  color: hsl(120, 0%, 50%);
}

.phone {
  font-size: 20px;
  font-family: monospace;
  color: hsl(120, 0%, 50%);
}
